Source: kubeedge
Section: utils
Priority: optional
Maintainer: Philippe Coval <p.coval@samsung.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://kubeedge.io/
Vcs-Browser: https://github.com/tizenteam/kubeedge
Vcs-Git: https://github.com/tizenteam/kubeedge.git

Package: kubeedge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 kubeadm (=1.14.1-00),
 kubelet (=1.14.1-00),
 kubernetes-cni (=0.7.5-00)
Description: Kubernetes Native Edge Computing Framework
 KubeEdge is an open source system for extending
 native containerized application orchestration capabilities to hosts at Edge
 .
 It is built upon kubernetes and provides fundamental infrastructure support
 for network, app deployment and metadata synchronization between cloud and edge
 .

Package: kubeedge-snapshot
Architecture: all
Section: utils
Depends: ${misc:Depends}, kubeedge (= ${source:Version})
Priority: extra
Description: unreleased snapshot version
 TODO: Remove on issue and upgrade kubeedge
 .
